System Name: {{ ansible_facts['hostname]] }}
Today's date is : {{ ansible_facts.date_time.date
System's Total Memory: {{ ansible_facts.ansible_memtotal_mb }}
System's Processor Count: {{ ansible_facts.ansible_processor_count }}

